$res_mobile : "only screen and (max-width: 800px)";
$res_tablet : "only screen and (min-width: 801px) and (max-width: 1105px)";
$res_pc : "only screen and (min-width: 1106px)";

@mixin responsive_mobile() {
    @media #{$res_mobile} {
        @content;
    }
}

@mixin responsive_tablet() {
    @media #{$res_tablet} {
        @content;
    }
}

@mixin responsive_pc() {
    @media #{$res_pc} {
        @content;
    }
}

.wrapper {
    z-index: 100000;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner-wrapper {
        display: flex;
        height: 90%;
        padding: 5px 2px 2px 5px;
        justify-content: space-between;
    }

    @include responsive_pc {
        .inner-wrapper {
            width: 1150px;
        }

        .contain-option {
            width: 90%;
            display: flex;
            align-items: center;
            height: 80%;
        }

        .inner-left {
            width: 40%;
            justify-content: space-around;
        }
        .inner-right {
            width: 50%;
        }

        .list-item-more {
            top: 100%;
            left: 0;
        }
    }

    @include responsive_tablet {
        .inner-wrapper {
            width: 100%;
        }

        .contain-option {
            display: flex;
            align-items: center;
            width: 80%;
            height: 80%;
        }

        .inner-left {
            width: 40%;
            justify-content: space-around;
        }

        .list-item-more {
            top: 100%;
            left: 0;
        }
        .inner-right {
            width: 50%;
        }
    }

    @include responsive_mobile() {
        .inner-wrapper {
            position: relative;
            width: 100%;
            justify-content: space-between;
        }

        .inner-left {
            width: 30%;
        }

        .inner-right {
            width: 69%;
        }

        .contain-option {
            transition: 0.3s;
            background-color: white;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            align-items: flex-start;
            left: -400%;
            min-width: 150px;
            min-height: 200px;
            z-index: 1000;
        }

        .contain-option>span {
            padding: 10px;
            margin-left: 20px;
        }

        .btn-open-tab-mobile {
            transition: 0.2s;
            width: 40px;
            font-size: 30px;
            cursor: pointer;
            padding: 2px;
        }

        .list-item-more {
            top: 0;
            left: 100%;
        }
    }

    .layout {
        transition: 0.3s ease-in-out;
        position: absolute;
        width: 100%;
        height: 200%;
        background-color: rgba(255, 255, 255, 0.5);
        top: 60px
    }

    .inner-wrapper>.inner-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: auto;

        .logo {
            width: 50px;
            height: 50px;
            background-color: rgb(243, 200, 80);
            border-radius: 10px;
        }

        .contain-option {
            justify-content: space-evenly;
        }

        .item-option {
            position: relative;
            padding: 5px 1px 1px 5px;
            overflow: hidden;
            cursor: pointer;

            .nav-item {
                text-decoration: none;
            }
        }

        .item-option::after {
            overflow: hidden;
            position: absolute;
            content: "";
            width: 90%;
            transition: 0.2s;
            left: 50%;
            height: 0px;
            bottom: 0;
            transform: translate(-50%);
            background-color: black;
        }

        .item-option:hover:after {
            height: 2px;
        }

        .item-more {
            min-width: 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            cursor: pointer;

            a {
                font-weight: 600;
            }


            .list-item-more {
                position: absolute;
                z-index: 100;
                min-width: 90px;
                height: fit-content;
                background-color: rgb(255, 255, 255);
                display: none;
            }


            .list-item-more span {
                margin-top: 10px;
            }

            .list-item-more>span>a {
                transition: 0.1s;
                padding: 5px;
            }

            .list-item-more>span :hover {
                background-color: black;
                color: wheat;
            }
        }

        .item-more:hover a {
            color: rgb(78, 77, 75);
        }

        .item-more:hover .list-item-more {
            display: flex;
            flex-direction: column;
        }

    }

    .inner-wrapper>.inner-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }



}