@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;    
    font-size: 1.6rem;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}

a {
    font-size: 14px;
    color: black;
}