$res_mobile : "only screen and (max-width: 800px)";
$res_tablet : "only screen and (min-width: 801px) and (max-width: 1105px)";
$res_pc : "only screen and (min-width: 1106px)";

@mixin responsive_mobile() {
    @media #{$res_mobile} {
        @content;
    }
}

@mixin responsive_tablet() {
    @media #{$res_tablet} {
        @content;
    }
}

@mixin responsive_pc() {
    @media #{$res_pc} {
        @content;
    }
}

.wrapper {
    padding: 20px;
    margin-top: -0px;
    width: 100%;
    min-height: 700px;
    background: linear-gradient(to right, rgb(214, 207, 166), rgb(9, 20, 180));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    .inner {
        z-index: 0;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        img {
            top: 40px;
            position: absolute;
            width: auto;
            height: 90%;
            opacity: 0.1;
            z-index: 0;
        }

        .spotilne-linked {
            z-index: 1;
            padding: 5px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: solid 2px white;
            border-radius: 20px;

            p {
                color: white;
            }

            .icon-linked {
                cursor: pointer;
                background-color: white;
                border-radius: 10px;
                font-size: 10px;
                width: 30px;
                height: 30px;
                padding: 3px;
            }
        }

        .sologan {
            height: auto;
            display: flex;
            align-items: end;
            justify-content: center;

            h1 {
                color: white;
                width: 300px;
            }

            p {
                color: white;
            }
        }

        .descript {
            margin-top: 50px;
            text-align: center;
            color: white;
        }

        .btn-start {
            text-decoration: none;
            padding: 10px;
            border: solid 1px white;
            border-radius: 20px;
            margin-top: 20px;
            color: white;
            cursor: pointer;
            z-index: 1;

        }

        .btn-start:hover {
            background-color: white;
            color: black;
        }


    }

    .all-function {
        z-index: 100;
        width: 50%;
        min-height: 300px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

}

@include responsive_pc() {
    .wrapper {
        .inner {
            width: 50%;

            .spotilne-linked {
                width: 500px;
            }

            .sologan {
                width: 600px;

                h1 {
                    font-size: 40px;
                }
            }

            .descript {
                width: 400px;
            }
        }
    }
}

@include responsive_tablet() {
    .wrapper {
        .inner {
            width: 50%;

            .spotilne-linked {
                width: 500px;
            }

            .sologan {
                width: 600px;

                h1 {
                    font-size: 40px;
                }
            }

            .descript {
                width: 400px;
            }
        }
    }
}

@include responsive_mobile() {
    .wrapper {
        flex-direction: column-reverse;

        .inner {
            img {
                display: none;
            }

            width: 100%;

            .spotilne-linked {
                width: 99%;
            }

            .sologan {
                width: 90%;

                h1 {
                    font: 25px;
                }
            }

            .descript {
                width: 99%;
            }
        }

        .all-function {
            width: 95%;
        }
    }
}