$res_mobile : "only screen and (max-width: 800px)";
$res_tablet : "only screen and (min-width: 801px) and (max-width: 1105px)";
$res_pc : "only screen and (min-width: 1106px)";

@mixin responsive_mobile() {
    @media #{$res_mobile} {
        @content;
    }
}

@mixin responsive_tablet() {
    @media #{$res_tablet} {
        @content;
    }
}

@mixin responsive_pc() {
    @media #{$res_pc} {
        @content;
    }
}

@include responsive_pc() {
    .wrapper {
        width: 24%;
    }

}

@include responsive_tablet() {}

@include responsive_mobile() {
    .wrapper {
        width: 46%;
    }
}

.wrapper {

    // margin-right: 10px;
    margin-top: 10px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px white;

    .contain-image {
        border-radius: 10px;
        width: 100%;
        height: 70%;
        background-color: rgb(227, 222, 222);
        position: relative;
        overflow: hidden;
        transition: 0.2s ease-in-out;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .btn-access {
            display: none;
            z-index: 2;
            position: absolute;
            padding: 10px;
            border-radius: 10px;
            border: solid 2px white;
            cursor: pointer;
            color: white;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            ;
        }

        .layout {
            display: none;
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgb(105, 102, 102, 0.4);
        }
    }

    .contain-image:hover img {
        transition: 0.2s ease-in-out;
        transform: scale(1.1);
    }

    .contain-image:hover .layout {
        display: block;
    }

    .contain-image:hover .btn-access {
        display: block;
    }

    .btn-access:hover {
        background-color: white;
        color: rgb(52, 50, 50);
    }

    .contain-des {
        width: 95%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        .title {
            cursor: pointer;

            font-weight: 600;
        }

        .title:hover {
            text-decoration: solid 2px underline;
        }

        .price {
            font-size: 13px;
            color: rgb(129, 38, 38);
        }

        .count {
            font-size: 12px;
            color: rgb(46, 45, 45);
        }
    }
}